<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="form.invalid">Guardar</ion-button>
  </form>
</div>
